<!DOCTYPE html>
<html lang="hu-hu">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="frontend/css/index.css">
		<title>Teszt - SDSYS</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
	</head>
	<body>
		<?php require_once('frontend/views/'.$view.'.html'); ?>
	</body>
</html>