<link rel="stylesheet" href="frontend/css/login.css">

<div class="login">
	<div class="login-form shadow">
		<form action="?act=login" method="POST">
			<h1>Login</h1>       
			<div class="form-group">
				<input type="text" name="email" placeholder="Username" required="required">
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				<button type="submit">Login</button>
			</div>       
		</form>
		
<?php
	if (isset($errorMessageLogin)) echo '<div class="error-msg">'.$errorMessageLogin.'</div>';
?>

	</div>

	<div class="login-info shadow">
		<h1>Info</h1>      
		
<?php
	foreach ($users as $row) {
		echo $row['email'].' ('.$row['name'].')<br>';
	}
?>
		<p><br>passwords: 123456
	</div>
</div>